.card{
    background-color: var(--white);
    /* padding: 15px; */
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .1);
}

.card.info{
    position: relative;
    width: calc(100% - 22rem);
    left: 220px;
}

.even tr:nth-child(even){
    background-color: rgba(0, 0, 0, .01);
    border-top: 1px solid  rgba(0, 0, 0, .02);
    border-bottom: 1px solid  rgba(0, 0, 0, .02);
}

.card__header{
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__header.b-line{
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.card__title{
    width: 100%;
    color: var(--black);
    font-size: 1.8rem;
    font-weight: 500;
}

.card__body{
    padding: 20px;
}

.card__footer{
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.line{
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--soft-grey);
    margin-bottom: 15px;
}

.buttons{
    display: flex;
}

.mr-10{
    margin-right: 10px;
}

.btn{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .1);
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    
}

.flex{
   display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex.center{
    justify-content: center;

}

.btn:hover{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .1);
    /* border: 0px solid rgba(0, 0, 0, .1); */
}

.btn-success{
    background-color: var(--just-blue);
    color: var(--white);
}

.btn i{
    font-size: 1.8rem;
    margin-right: 5px;
}
.btn-menu{
    font-size: 2.5rem;
}

.text-center{
    text-align: center;
}

input, select{
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 1.6rem;
}

.form-group{
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    height: 40px;
    padding: 5px;
    font-size: 1,.8rem;
    /* margin-bottom: 20px; */
}
.form-group{
     margin: 15px 0;
}

.form-group i{
    margin-right: 5px;
}

.login-container{
    margin: 0 auto;
    max-width: 400px;
    margin-top: 250px;
}

.fw-600{
    font-weight: 600;
}

.w-100{
    width: 100%;
}
.title{
    font-size: 2.5rem;
    font-weight: 700;
}
p{
    font-size: 1.4rem;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    /* min-width: 100%; */
    z-index: 999999;
    transition: opacity .15s linear;
}

.modal-dialog{
    position: relative;
    top: 100px;
    box-shadow: 10px 10px 100px 1000px rgba(0, 0, 0, .5);
    max-width: 500px;
    margin: 0 auto;
}


.modal.active{
    display: block;
    opacity: 1;
}

.loader-container{
 position: relative;
 width: 100%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}

.loader{
    position: absolute;
    width: 100px;
    height: 100px; 
    border: 4px solid var(--just-blue); 
    border-left: 4px solid transparent;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    border-radius: 50px;
    animation: animate-loader .5s linear infinite;
}

@keyframes animate-loader{
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
        
    }
}

.alert{
    width: 100%;
    padding: 20px;
    text-align: center;
}

.row{
    display: flex;
    width: calc(100% - 22rem);
}

.row .card{
    margin: 0 10px;
}

.input{
    width: 100%;
    display: flex; 
}

.input div{
    margin-right: 10px;
}

.list_add_product{
    font-size: 1.4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.invoice{
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
}

.invoice p{
    font-size: 1rem;
}

.invoice table{
    text-align: left;
    width: 100%;
    font-size: 1rem;
}

.invoice th{
    padding: 5px 2px;
    font-weight: 600;
}

.invoice td{
    padding: 5px 2px;
    font-weight: 300;
}

.invoice .total{
text-align: right;
font-weight: 700;
font-size: 1.8rem;
}

.invoice .line{
    margin: 0;
}

.invoice .line{
    margin: 5px;
}

.mb-10{
    margin-bottom: 10px;
}

.card.invoice{
    border: none;
    box-shadow: none;
    border-radius: 0;
}

.invoice .total{
    display: flex;
    justify-content: flex-end;
 }

 .m-0{
    margin: 0;
}